@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);
    }
  }
  
  .loading-text {
    animation: wave 1.5s ease-in-out infinite; /* مدة الحركة والتكرار */
  }